{% extends "glasses/page.html" %}

{% block content%}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="width: 100%%;">
        <img class="card-img-top" src="{% url 'index' %}{{ glass.image.url}}" width="100px" alt="Photo de {{ glass.name }}"/>
        <div class="card-body">
          <h5 class="card-title">{{ glass.name }}</h5>
          <p>{{ glass.price }}€ ({{ glass.amount }} unités disponibles)</p>
          <a href="{% url 'edit' glass.id %}" class="btn btn-primary">Éditer</a>
          <a href="{% url 'delete' glass.id %}" class="btn btn-primary">Supprimer</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Étapes</h5>
        </div>
      </div>
      <div class="card mb-3" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Commentaires</h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}