{% extends "glasses/page.html" %}

{% block content %}
  <a href="{% url 'glass_create' %}" class="btn btn-primary btn-lg" id="add-glass-button">Nouvelle réalisation</a>
  <div class="card controller" style="width: 100%;">
    <div class="card-body">
      <form class="form-inline" action="{% url 'glass_list' %}" method="get">
        <input name="name" type="text" class="form-control" placeholder="Nom personnalisé...">
        <button type="submit" class="btn btn-secondary">Recherher</button>
      </form>
    </div>
  </div>
  <section class="main">
    {% if glasses %}
    <div class="row justify-content-left">
      {% for glass in glasses %}
      <div class="col-auto m-3">
        <div class="card glass-card" style="width: 18rem;">
          <img src="{{ glass.image.url }}" class="card-img-top" alt="Photo de {{ glass.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ glass.name }}</h5>
            <p class="card-text">{{ glass.price }}€ ({{ glass.amount }} paires disponibles)</p>
            <p>Catégorie : {{ glass.get_category_display }}</p>
            <p>Date de création : {{ glass.creation_moment }}</p>
            <a href="{% url 'glass_detail' glass.id %}" class="btn btn-primary">Détails</a>
            <a href="{% url 'glass_delete' glass.id %}" class="btn btn-danger">Supprimer</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <h2>C'est un peu vide ici!</h2>
      <p>Vous n'avez pas de réalisations. Commencez votre collection en cliquant sur le bouton "<i>Nouvelle réalisation</i>".</p>
    {% endif %}
  {% endblock %}
