{% extends "glasses/page.html" %}

{% block content %}
  <div class="card controller" style="width: 100%;">
    <a href="{% url 'add_glass' %}" class="btn btn-primary">Ajouter une nouvelle réalisation</a>      
  </div>
  <section class="main">
    {% if glasses %}
    <div class="row justify-content-center">
      {% for glass in glasses %}
      <div class="col-auto m-3">
        <!-- Card element documentation: https://getbootstrap.com/docs/4.3/components/card/ -->
        <div class="card glass-card" style="width: 18rem;">
          <img src="{{ glass.image.url }}" class="card-img-top" alt="Photo de {{ glass.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ glass.name }}</h5>
            <p class="card-text">{{ glass.price }}€ ({{ glass.amount }} unités disponibles)</p>
            <a href="{% url 'detail' glass.id %}" class="btn btn-primary">Détails</a>
            <a href="{% url 'delete_glass' glass.id %}" class="btn btn-danger">Supprimer</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>Aucunes réalisations.</p>
    {% endif %}
  {% endblock %}
