/*
HEX: #5b9aa0
HEX: #d6d4e0
HEX: #b8a9c9*/

:root {
  --navbar-background-color: black;
  --navbar-brand-background-color: #ffffff;
  --controller-background-color:  #3b3b3b;
  --card-background-color: #b5b5b5;
}

nav {
  background-color: var(--navbar-background-color);
}

.navbar-brand {
  color: var(--navbar-brand-background-color);

}

article {
  padding: 2%;
}

.controller {
  padding: 2em;
  background: var(--controller-background-color);
}

.glass-card {
  background-color: var(--card-background-color);
}

footer {
  position: relative;
  background-color: var(--navbar-background-color);
  color:  var(--navbar-brand-background-color);
  bottom: 0;
}